<ng-template #content>
  <div class="card">
    <div class="modal-body">
      <h3 class="title-color">Votre playlist : {{playlist.title}}</h3>
      <hr>
    </div>
    <ng-container *ngFor="let track of tracks; let i = index">
      <div *ngIf="track.playlist_id === playlist.id">
        <div class="track-card">
            <h5 class="card-title ml-2 text-color">{{track.title}}</h5>
            <p class="card-text ml-2 text-color">  Genre : {{playlist.genre}}</p>
            <p class="card-text ml-2 text-color">Artist: {{track.artist}}</p>
            <button class="btn btn-success play-btn btn-ed" type="bouton" (click)="playTracks(track)">Lire</button>
            <button class="btn btn-danger play-del btn-ed" type="bouton" (click)="deleteTrack(track.id, i)">Supprimer</button>
          </div>
        </div>
      </ng-container>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="close(content)">Fermer</button>
    </div>
  </div>
  </ng-template>

  <app-player [playTrack]="playTrack" [track]="track"></app-player>
