<ng-template #content>
    <div class="modal-body">
      <p>Votre playlist : {{playlist.title}}</p>
    </div>
    <ng-container *ngFor="let track of tracks">
      <div *ngIf="track.playlist_id === playlist.id">
        <div class="card" style="width: 18rem;">
            <h5 class="card-title">{{track.title}}</h5>
            <p class="card-text">Genre : {{playlist.genre}}</p>
          </div>
        </div>
      </ng-container>
    <div class="modal-footer">
        <button type="button" class="btn btn-warning" (click)="close(content)">Fermer</button>
    </div>
  </ng-template>
