.title{
  font-size: 100px;
  margin-top:30px;
  color: skyblue;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: pink;
  text-align: center;
}
.card{
  margin:3px;
}

.playlists-bloc{
  margin-top: 70px;
}
