<h1 class="title">Vos Playlists</h1>
<div class="container-fluid">
<div class="row">
<ng-container class="col-4" *ngFor="let playlist of playlists; let idx = index">
  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">{{playlist.title}}</h5>
      <p class="card-text">Genre : {{playlist.genre}}</p>
  <button class="btn btn-danger" type="bouton" (click)="deletePlaylist(playlist.id, idx)">Supprimer</button>
    </div>
  </div>
</ng-container>
</div>
</div>
