<h1 class="title">Nouveau morceau</h1>
<div class="container-fluid">
<div class="row">
<form class="offset-3 offset-md-5" (ngSubmit)="addTrack(newTrack)" #newTrack="ngForm">
  <div>
      <select [(ngModel)]="idPlaylist" name="playlist_id">
        <option>Ajouter dans quelle playlist ?</option>
          <option *ngFor="let playlist of playlists" [ngValue]="playlist.id">{{playlist.title}}</option>
      </select>
    <input [hidden]="true" type='number' placeholder="Quelle playlist" name="playlist_id" #playlist_id="ngModel" [(ngModel)]="idPlaylist" [ngModel]>
  </div>
  <div>
    <input type='text' placeholder="Titre" name="title" #title="ngModel" [ngModel]>
  </div>
  <div>
    <input type='text' placeholder="Artiste" name="artist" #artist="ngModel" [ngModel]>
  </div>
  <div>
    <input type='text' placeholder="Lien photo album" name="album_picture" #album_picture="ngModel" [ngModel]>
  </div>
  <div>
    <input type='text' placeholder="Lien youtube video" name="youtube_url" #youtube_url="ngModel" [ngModel]>
  </div>
  <button class='btn btn-success' type="submit" >Enregistrer la playlist</button>
</form>
</div>
</div>
