.title{
  font-size: 100px;
  margin-top:30px;
  color: skyblue;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: pink;
  text-align: center;
  text-shadow: 10px 10px 20px black;
}

form{
  margin-top: 70px;
}

input{
  margin-top: 15px;
}

button{
  margin-top: 15px;
  margin-left: 10px
}
