/* You can add global styles to this file, and also import other style files */
body{
  width: 100%;
  height: 100%;
  background-image: url("https://i.redd.it/vzmpv432havx.jpg");
  background-size: 100%;
}
