/* You can add global styles to this file, and also import other style files */
body{
  width: 100%;
  background-image: url("assets/images/80s.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 640px) {
  body {
    background-position: center;
  }
}


