<h1 class="title">Playlist Collection</h1>

<h4 class="menu-title">Menu</h4>

<div class="container">
  <div class="row">
<div class="col-md-4" [routerLink]="['playlists']"><button class="btn btn-warning col-sm link-btn">Voir mes playlists</button></div>
<div class="col-md-4" [routerLink]="['newplaylist']"><button class="btn btn-warning col-sm link-btn">Créer une playlist</button></div>
<div class="col-md-4" [routerLink]="['newtrack']"><button class="btn btn-warning col-sm link-btn">Ajouter un morceau</button></div>
  </div>
</div>


