.title{
  font-size: 90px;
  margin-top:30px;
  color: skyblue;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: pink;
  text-align: center;
}

.menu-title{
  color:yellow;
  font-size: 60px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: pink;
  text-align: center;
  margin-top: 50px;
  margin-bottom: 270px;
}

.link-btn{
  margin-top: 10px;
  margin-bottom: 10px;
}
